@use "../../../tools/vars" as var;

.constructor {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	border-top: 1px solid var.$projectBlack;
	border-bottom: 1px solid var.$projectBlack;
	width: 100%;
	margin-top: 135px;
	@media (max-width: 1279px) {
		width: 420px;
		flex-direction: column;
		margin-top: 77px;
	}
	&__image {
		display: flex;
		align-items: center;
		justify-content: center;
		border-right: 1px solid var.$projectBlack;
		padding: 45px 135px;
		& > img {
			margin-right: 15px;
			@media (max-width: 1279px) {
				width: 210px;
				height: 290px;
			}
		}
		@media (max-width: 1279px) {
			border-right: none;
			border-bottom: 1px solid var.$projectBlack;
			width: 100%;
			padding: 18px 0 22px 13px;
		}
	}
	&__sliderWrap {
		position: relative;
		padding-right: 111px;
		@media (max-width: 1279px) {
			padding-right: 0;
		}
	}
}
