@use "../../../tools/vars" as var;

.video {
	margin-top: 180px;
	width: 100%;
	text-align: center;
	@media (max-width: 1279px) {
		width: 420px;
		margin-top: 92px;
	}
	&__footer {
		background-color: var.$projectBlack;
		&__text {
			color: var.$projectBgi;
			font-size: 50px;
			padding: 16px 0px 8px 140px;
			@media (max-width: 1279px) {
				font-size: 19px;
				padding: 14px 0 11px 28px;
				text-align: left;
			}
		}
	}

	&__wrap {
		display: flex;
		flex-direction: row;
		padding: 78px 30px 65px 33px;
		@media (max-width: 1279px) {
			padding: 31px 0 32px 28px;
			flex-direction: column;
		}
		&__text {
			margin-right: 44px;
			@media (max-width: 1279px) {
				margin-right: 22px;
			}
			&__wrap {
				display: flex;
				align-items: center;
				justify-content: center;
				background-image: url("../images/videotitle.svg");
				background-repeat: no-repeat;
				background-size: cover;
				max-width: 534px;
				min-height: 59px;
				@media (max-width: 1279px) {
					max-width: 229px;
					min-height: 29px;
					background-image: url("../images/mobileVideoBorder.svg");
					background-size: 229px 29px;
					margin-left: -3px;
				}
				&__title {
					background-color: var.$projectBlack;
					font-size: 34px;
					color: var.$projectBgi;
					padding: 7px 6px;
					@media (max-width: 1279px) {
						font-size: 14px;
						padding: 5px 2px;
					}
				}
			}
			&__subtitle1,
			&__subtitle2 {
				font-size: 25px;
				color: var.$black;
				text-align: left;
				line-height: 113%;
				@media (max-width: 1279px) {
					font-size: 12px;
					line-height: 108%;
				}
			}
			&__subtitle1 {
				width: 598px;
				margin: 9px 0 36px 0;
				@media (max-width: 1279px) {
					width: 280px;
					margin: 9px 0 21px 0;
				}
			}
			&__subtitle2 {
				width: 655px;
				@media (max-width: 1279px) {
					width: 298px;
				}
			}
		}
		&__video {
			margin-top: 3px;
			@media (max-width: 1279px) {
				margin-left: -30px;
			}
			&__info {
				width: 517px;
				height: 201px;
				display: flex;
				align-items: center;
				justify-content: center;
				margin-bottom: 18px;
				@media (max-width: 1279px) {
					margin-top: 40px;
					margin-bottom: 14px;
					width: 420px;
					height: 125px;
				}

				& > img {
					width: 355px;
					height: 201px;
					@media (max-width: 1279px) {
						width: 180px;
						height: 125px;
						margin-left: 0;
						align-items: center;
					}
				}
				& > p {
					font-size: 25px;
					color: var.$black;
				}
			}
			&__content {
				border-radius: 15px;
				@media (max-width: 1279px) {
					width: 361px;
					height: 189px;
				}
			}
		}
	}
}
