<section class="about" id="about">
	<div class="about__title"><h3>сми о нас</h3></div>
	<div class="about__text">
		<div class="about__text__left">
			<div class="about__text__left__first">
				<h3 class="about__text__left__first__title">
					Получите свой пиксель ностальгии
				</h3>
				<p class="about__text__left__first__text">
					Как часто вы&nbsp;проваливались в&nbsp;воспоминания из&nbsp;детства,
					когда собирались с друзьями вокруг лампового телевизора
					с&nbsp;8-битной приставкой?
				</p>
				<div class="btn__first">
					<div class="btn__first__hoverImage"></div>
					<div class="btn__first__content">
						<a
							class="btn__first__button"
							id="firstBtn"
							href="https://wsem.ru/publications/poluchite_svoy_piksel_nostalgii_s_novymi_retro_dioramami_po_motivam_izvestnykh_igr_27674/?show=y/"
							target="_blank"
							>Читать далее</a
						>
					</div>
				</div>
			</div>
			<div class="about__text__left__second">
				<h3 class="about__text__left__second__title">заголовок статьи</h3>
				<p class="about__text__left__second__text">
					Lorem ipsum dolor sit amet consectetur. Leo quisque venenatis tempus
					risus eu. Vulputate sit in feugiat id odio. Suspendisse risus tellus..
				</p>

				<div class="btn__first">
					<div class="btn__first__hoverImage second__hoverImage"></div>

					<div class="btn__first__content">
						<a
							class="btn__first__button second__color"
							id="secondBtn"
							href="https://yandex.ru"
							target="_blank"
							>Читать далее</a
						>
					</div>
				</div>
			</div>
		</div>
		<div class="about__text__third">
			<h3 class="about__text__third__title">заголовок статьи</h3>
			<p class="about__text__third__text">
				Lorem ipsum dolor sit amet consectetur. Leo quisque venenatis tempus
				risus eu. Vulputate sit in feugiat id odio. Lorem ipsum dolor sit amet
				consectetur. Leo quisque venenatis tempus risus eu. Vulputate.
				Suspendisse risus tellus...
			</p>
			<div class="btn__first third">
				<div class="btn__first__hoverImage third__hoverImage"></div>
				<div class="btn__first__content">
					<a
						class="btn__first__button third__button"
						id="thirdBtn"
						href="https://yandex.ru"
						target="_blank"
						>Читать далее</a
					>
				</div>
			</div>
		</div>
	</div>
</section>
