<div class="feedbackForm">
	<form action="@@action" method="POST" class="feedbackForm__form">
		<div class="feedbackForm__form__inputContainer">
			<span style="opacity: 0">*</span
			><input type="text" id="name" name="user_name" placeholder="Имя" />
		</div>
		<div class="feedbackForm__form__inputContainer">
			<span>*</span
			><input
				type="email"
				id="email"
				name="user_email"
				placeholder="Email"
				required />
		</div>
		<div class="feedbackForm__form__inputContainer">
			<span>*</span
			><input
				id="message"
				name="user_message"
				placeholder="Сообщение..."
				required />
		</div>

		<button type="submit">Отправить</button>
	</form>
</div>
