<style>
	#successPopup {
		display: none;
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		padding: 20px;
		background-color: #28a745;
		color: white;
		border-radius: 5px;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	}
</style>
<div class="feedbackForm">
	<form
		action="@@action"
		method="POST"
		class="feedbackForm__form"
		id="contactForm">
		<div class="feedbackForm__form__inputContainer">
			<span style="opacity: 0">*</span
			><input type="text" id="name" name="user_name" placeholder="Имя" />
		</div>
		<div class="feedbackForm__form__inputContainer">
			<span>*</span
			><input
				type="email"
				id="email"
				name="user_email"
				placeholder="Email"
				required />
		</div>
		<div class="feedbackForm__form__inputContainer">
			<span>*</span
			><input
				id="message"
				name="user_message"
				placeholder="Сообщение..."
				required />
		</div>

		<button type="submit">Отправить</button>
	</form>
</div>

<div id="successPopup">Письмо успешно отправлено</div>

<script>
	document
		.getElementById("contactForm")
		.addEventListener("submit", function (event) {
			event.preventDefault(); // Останавливаем стандартное поведение формы

			const formData = new FormData(this);
			fetch("mail.php", {
				method: "POST",
				body: formData,
			})
				.then((response) => response.json())
				.then((data) => {
					if (data.status === "success") {
						// Показать попап
						const popup = document.getElementById("successPopup");
						popup.style.display = "block";

						// Через 3 секунды перенаправить на главную страницу
						setTimeout(() => {
							window.location.href = "https://retro-frames.ru/"; // Путь к вашей главной странице
						}, 3000);
					} else {
						alert(data.message);
					}
				})
				.catch((error) => {
					console.error("Ошибка:", error);
					alert("Произошла ошибка при отправке письма");
				});
		});
</script>
