<section class="list" id="@@idList">
	<div class="list__footer list__footer__@@align">
		<h3>@@footer</h3>
	</div>
	<div class="list__wrap">@@loop("../../elements/listitem.html", "@@data")</div>
	<div class="constructor__sliderWrap">
		@@include("../slider/mobileSlider.html",{"removeClass":"@@removeClass","addClass":"@@addClass","idMobileBtn":"@@idMobileBtn","data":"@@data",
		"footer":"@@footer","mySwiper":"@@mySwiper","swiper-button-sliderNext":"@@swiper-button-sliderNext","swiper-button-sliderPrev":"@@swiper-button-sliderPrev",
		"nameWrap":'mobileWrap'})
	</div>
</section>
