<section class="video" id="video">
	<div class="video__footer">
		<p class="video__footer__text">С УНИКАЛЬНОЙ ДИОРАМОЙ ИЗ ДЕРЕВА!</p>
	</div>
	<div class="video__wrap">
		<div class="video__wrap__text">
			<div class="video__wrap__text__wrap">
				<h3 class="video__wrap__text__wrap__title">
					Диорама Пазл это новинка,
				</h3>
			</div>
			<p class="video__wrap__text__subtitle1">
				представленная на&nbsp;рынке в&nbsp;2024&nbsp;году. При создании
				продукта мы&nbsp;вдохновлялись вселенной игр Dendy, Sega
				и&nbsp;Nintendo, на&nbsp;которых выросли. Этот уникальный набор
				из&nbsp;дерева будет напоминать<br />
				вам о&nbsp;тех замечательных часах, когда вы&nbsp;играли в&nbsp;игры
				с&nbsp;друзьями, пытаясь преодолеть уровень после уровня.
			</p>
			<p class="video__wrap__text__subtitle2">
				Наша диорама из&nbsp;ХДФ и&nbsp;акрила&nbsp;&mdash; <br />это
				не&nbsp;только прекрасный аксессуар <br />
				для вашего офиса или дома, но&nbsp;и&nbsp;выполняя сборку вновь пережить
				те&nbsp;моменты радости и&nbsp;адреналина, которые вы&nbsp;испытывали,
				играя в&nbsp;Марио, Мортал Комбат или Соника:)
			</p>
		</div>
		<div class="video__wrap__video">
			<div class="video__wrap__video__info"><p>БЛОК ДЛЯ ТЕКСТА</p></div>
			<iframe
				width="517"
				height="279"
				src="https://rutube.ru/play/embed/b0626df3868ee6fccf088c6ed8cc2299/"
				frameborder="0"
				allow="clipboard-write"
				webkitAllowFullScreen
				mozallowfullscreen
				allowfullscreen
				class="video__wrap__video__content"></iframe>
		</div>
	</div>
</section>
