<style>
	.slider__wrapPopup {
		display: flex;
		flex-direction: column;
		margin: 0 12px;
		width: 400px;
		height: 423px;
	}

	.swiper-slide {
		text-align: center;
		font-size: 18px;
		border-radius: 10px;
	}

	.swiper-slidePopup img {
		display: block;
		width: 302px;
		height: 423px;
		object-fit: contain;
		border-radius: 10px;
	}

	.mySwiper-paginationPopup {
		transform: translate3d(0, 13px, 0);
	}
	.swiper-pagination-bullet {
		background: #2e2f38;
		width: 14px;
		height: 14px;
	}
	.swiper-button-sliderPrevPopup > img,
	.swiper-button-sliderNextPopup > img {
		width: 34px;
		height: 34px;
	}
	.swiper-button-sliderPrevPopup16 > img,
	.swiper-button-sliderNextPopup16 > img {
		width: 34px;
		height: 34px;
	}
	.wrapPopup {
		display: flex;
		flex-direction: row;
		align-items: center;
	}
	.mySwiper-paginationPopup > .swiper-pagination-bullet {
		background: #2e2f38;
		width: 13px;
		height: 13px;
	}
	@media (max-width: 1279px) {
		.swiper-slidePopup img {
			width: 214px;
			height: 279px;
			object-fit: contain;
			border-radius: 10px;
		}
		.slider__wrapPopup,
		.slider__wrapPopup16 {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin: 0 12px;
			width: 393px;
			height: 299px;
		}
		.slider__wrapPopup .swiper,
		.slider__wrapPopup16 .swiper {
			margin-top: -15px;
			height: 279px;
		}
		.swiper-button-sliderPrevPopup,
		.swiper-button-sliderPrevPopup16 {
			margin-top: -5px;
			margin-right: -60px;
			z-index: 11;
		}

		.swiper-button-sliderNextPopup,
		.swiper-button-sliderNextPopup {
			margin-top: -5px;
			margin-left: -60px;
			z-index: 11;
		}
		.swiper-button-sliderPrevPopup > img,
		.swiper-button-sliderNextPopup > img {
			width: 60%;
			height: 80%;
		}
		.swiper-button-sliderNextPopup16 {
			margin-top: -5px;
			margin-left: -60px;
			z-index: 11;
		}
		.swiper-button-sliderPrevPopup16 > img,
		.swiper-button-sliderNextPopup16 > img {
			width: 60%;
			height: 80%;
		}
		.mySwiper-paginationPopup > .swiper-pagination-bullet {
			width: 10px;
			height: 10px;
			margin: 0 1px;
		}
		.swiper-paginationPopup > .mySwiper-paginationPopup > {
			transform: translate3d(0, 25px, 0);
		}
		.mySwiper-paginationPopup16 > .swiper-pagination-bullet {
			width: 10px;
			height: 10px;
			margin: 0 1px;
		}
		.swiper-paginationPopup16 > .mySwiper-paginationPopup > {
			transform: translate3d(0, 25px, 0);
		}
	}
</style>

<section class="popup-overlay" id="popup-overlay">
	<div class="popup">
		<button type="button" class="popup__button" id="close-popup-btn">
			<img
				src="../images/closeButton.png"
				alt="Close"
				class="closeButtonDesc" />
			<img
				src="../images/mobileCloseBtn.png"
				alt="Close"
				class="closeButtonMobile" />
		</button>
		<div class="popup__content">
			<div class="popup__slider">
				<div class="slider__wrapPopup">
					<div class="wrapPopup">
						<div class="swiper-button-sliderPrevPopup sliderPrevPopup">
							<img src="../images/sliderPrev.png" alt="sliderPrev" />
						</div>
						<div class="swiper mySwiperPopup">
							<div class="swiper-wrapper swiper-wrapperPopup">
								<div class="swiper-slide swiper-slidePopup">
									<img
										src=""
										alt="sliderImage0"
										class="swiper-slidePopup__img" />
								</div>
								<div class="swiper-slide swiper-slidePopup">
									<img
										src=""
										alt="sliderImage1"
										class="swiper-slidePopup__img" />
								</div>
								<div class="swiper-slide swiper-slidePopup">
									<img
										src=""
										alt="sliderImage2"
										class="swiper-slidePopup__img" />
								</div>
								<div class="swiper-slide swiper-slidePopup">
									<img
										src=""
										alt="sliderImage3"
										class="swiper-slidePopup__img" />
								</div>
								<div class="swiper-slide swiper-slidePopup">
									<img
										src=""
										alt="sliderImage4"
										class="swiper-slidePopup__img" />
								</div>
								<div class="swiper-slide swiper-slidePopup">
									<img
										src=""
										alt="sliderImage5"
										class="swiper-slidePopup__img" />
								</div>
								<div class="swiper-slide swiper-slidePopup slide6">
									<img
										src=""
										alt="sliderImage6"
										class="swiper-slidePopup__img" />
								</div>
							</div>
						</div>
						<div class="swiper-button-sliderNextPopup sliderNextPopup">
							<img src="../images/sliderNext.png" alt="sliderNext" />
						</div>
					</div>
					<div class="swiper-paginationPopup mySwiper-paginationPopup"></div>
				</div>
				<p class="popup__slider__oldPrice"></p>
				<p class="popup__slider__newPrice"></p>
			</div>
			<div class="popup__content__wrap">
				<div class="popup__content__logo">
					<img src="" alt="" class="popup__content__logo__img" />
				</div>
				<p class="popup__content__text"></p>
				<div class="btn__popup">
					<div class="btn__popup__hoverImage"></div>

					<div class="btn__popup__content">
						<a class="btn__popup__button" id="btnPopup" href="" target="_blank"
							>Купить</a
						>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="popup-overlay16" id="popup-overlay16">
	<div class="popup">
		<button type="button" class="popup__button" id="close-popup-btn16">
			<img
				src="../images/closeButton.png"
				alt="Close"
				class="closeButtonDesc" />
			<img
				src="../images/mobileCloseBtn.png"
				alt="Close"
				class="closeButtonMobile" />
		</button>
		<div class="popup__content">
			<div class="popup__slider">
				<div class="slider__wrapPopup">
					<div class="wrapPopup">
						<div class="swiper-button-sliderPrevPopup16 sliderPrevPopup">
							<img src="../images/sliderPrev.png" alt="sliderPrev" />
						</div>
						<div class="swiper mySwiperPopup16">
							<div class="swiper-wrapper swiper-wrapperPopup">
								<div class="swiper-slide swiper-slidePopup">
									<img
										src=""
										alt="sliderImage0"
										class="swiper-slidePopup__img" />
								</div>
								<div class="swiper-slide swiper-slidePopup">
									<img
										src=""
										alt="sliderImage1"
										class="swiper-slidePopup__img" />
								</div>
								<div class="swiper-slide swiper-slidePopup">
									<img
										src=""
										alt="sliderImage2"
										class="swiper-slidePopup__img" />
								</div>
								<div class="swiper-slide swiper-slidePopup">
									<img
										src=""
										alt="sliderImage3"
										class="swiper-slidePopup__img" />
								</div>
								<div class="swiper-slide swiper-slidePopup">
									<img
										src=""
										alt="sliderImage4"
										class="swiper-slidePopup__img" />
								</div>
								<div class="swiper-slide swiper-slidePopup">
									<img
										src=""
										alt="sliderImage5"
										class="swiper-slidePopup__img" />
								</div>
							</div>
						</div>
						<div class="swiper-button-sliderNextPopup16 sliderNextPopup">
							<img src="../images/sliderNext.png" alt="sliderNext" />
						</div>
					</div>
					<div class="swiper-paginationPopup16 mySwiper-paginationPopup"></div>
				</div>
				<p class="popup__slider__oldPrice"></p>
				<p class="popup__slider__newPrice"></p>
			</div>
			<div class="popup__content__wrap">
				<div class="popup__content__logo">
					<img src="" alt="" class="popup__content__logo__img" />
				</div>
				<p class="popup__content__text"></p>
				<div class="btn__popup">
					<div class="btn__popup__hoverImage"></div>

					<div class="btn__popup__content">
						<a class="btn__popup__button" id="btnPopup" href="" target="_blank"
							>Купить</a
						>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
