<head>
	<meta charset="UTF-8" />
	<meta http-equiv="imagetoolbar" content="no" />
	<meta http-equiv="msthemecompatible" content="no" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta
		name="format-detection"
		content="telephone=no, email=no, address=no, date=no" />
	<meta
		name="description"
		content="Диорама - объемная картина. Собирается как конструктор. Необычный подарок." />
	@@include("favicons.html", {}) @@if (multistyles == true) {
	<script>
		if (matchMedia("(prefers-color-scheme: dark)").media == "not all") {
			document.documentElement.style.display = "none";
			document.head.insertAdjacentHTML(
				"beforeend",
				'<link rel="stylesheet" type="text/css" href="css/darkscheme.min.css" onload="document.documentElement.style.display=\'\'">'
			);
		}
	</script>
	}
	<link rel="stylesheet" type="text/css" href="css/style.min.css" />
	@@if (multistyles == true) {
	<link
		rel="stylesheet"
		type="text/css"
		href="css/lightscheme.min.css"
		media="(prefers-color-scheme: light)" />
	<link
		rel="stylesheet"
		type="text/css"
		href="css/darkscheme.min.css"
		media="(prefers-color-scheme: dark)" />
	}
	<link
		rel="stylesheet"
		href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
	<title>@@title</title>
	<!-- Yandex.Metrika counter -->
	<script type="text/javascript">
		(function (m, e, t, r, i, k, a) {
			m[i] =
				m[i] ||
				function () {
					(m[i].a = m[i].a || []).push(arguments);
				};
			m[i].l = 1 * new Date();
			for (var j = 0; j < document.scripts.length; j++) {
				if (document.scripts[j].src === r) {
					return;
				}
			}
			(k = e.createElement(t)),
				(a = e.getElementsByTagName(t)[0]),
				(k.async = 1),
				(k.src = r),
				a.parentNode.insertBefore(k, a);
		})(window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

		ym(99092432, "init", {
			clickmap: true,
			trackLinks: true,
			accurateTrackBounce: true,
			webvisor: true,
		});
	</script>
	<noscript
		><div>
			<img
				src="https://mc.yandex.ru/watch/99092432"
				style="position: absolute; left: -9999px"
				alt="" /></div
	></noscript>
	<!-- /Yandex.Metrika counter -->
	@@include("metrikaScript.html", {})
</head>
