<script type="text/javascript">
	document.addEventListener("DOMContentLoaded", function () {
		// 8bitPopup
		const popupTankiBtn = document.querySelector("#popupBtnTanki1");
		const popupDarkwingBtn = document.querySelector("#popupBtnDarkwing1");
		const popupDuckhuntBtn = document.querySelector("#popupBtnDuckhunt1");
		const popupSupermarioBtn = document.querySelector("#popupBtnSupermario1");
		const popupTeenagemutantBtn = document.querySelector(
			"#popupBtnTeenagemutant1"
		);
		const popupCNDBtn = document.querySelector("#popupBtnChip1");
		const popupContraBtn = document.querySelector("#popupBtnContra1");
		const popupBTDBtn = document.querySelector("#popupBtnbattl1");
		const popupFelixBtn = document.querySelector("#popupBtnFelix1");
		const popupFlinstones = document.querySelector("#popupBtnFlinestones");
		const popupPrince = document.querySelector("#popupBtnPrince");
		const popupDuckTales = document.querySelector("#popupBtnDuckTales");
    const popupDonkeyKong = document.querySelector("#popupBtnDonkey");
    const popupFlashback = document.querySelector("#popupFlashback");
    const popupMegaman = document.querySelector("#popupMegaman");

		// 16bitPopup
		const popupAladdinBtn = document.querySelector("#popupBtnAladdin1");
		const popupComixzoneBtn = document.querySelector("#popupBtnComixzone1");
		const popupEarthwormBtn = document.querySelector("#popupBtnEarthworm1");
		const popupHedgehogBtn = document.querySelector("#popupBtnHedgehog1");
		const popupMortalkombatBtn = document.querySelector(
			"#popupBtnMortalkombat1"
		);
		const popupLionKing = document.querySelector("#popupBtnLion1");
		const popupMK2 = document.querySelector("#popupBtnMk2");
		const popupLodeBtn = document.querySelector("#popupBtnLoderunner1");
		const popupAdventBtn = document.querySelector("#popupBtnadvent1");

		// 8bitPopup
		if (popupTankiBtn) {
			popupTankiBtn.addEventListener("click", () => {
				ym(99092432, "reachGoal", "tanki1");
			});
		}
		if (popupDarkwingBtn) {
			popupDarkwingBtn.addEventListener("click", () => {
				ym(99092432, "reachGoal", "darkwing1");
			});
		}
		if (popupDuckhuntBtn) {
			popupDuckhuntBtn.addEventListener("click", () => {
				ym(99092432, "reachGoal", "duckhunt1");
			});
		}
		if (popupSupermarioBtn) {
			popupSupermarioBtn.addEventListener("click", () => {
				ym(99092432, "reachGoal", "supermario1");
			});
		}
		if (popupTeenagemutantBtn) {
			popupTeenagemutantBtn.addEventListener("click", () => {
				ym(99092432, "reachGoal", "teenagemutant1");
			});
		}
		if (popupCNDBtn) {
			popupCNDBtn.addEventListener("click", () => {
				ym(99092432, "reachGoal", "chip1");
			});
		}
		if (popupContraBtn) {
			popupContraBtn.addEventListener("click", () => {
				ym(99092432, "reachGoal", "chip1");
			});
		}
		if (popupBTDBtn) {
			popupBTDBtn.addEventListener("click", () => {
				ym(99092432, "reachGoal", "battl1");
			});
		}
		if (popupFelixBtn) {
			popupFelixBtn.addEventListener("click", () => {
				ym(99092432, "reachGoal", "felix1");
			});
		}
		if (popupLodeBtn) {
			popupLodeBtn.addEventListener("click", () => {
				ym(99092432, "reachGoal", "loderunner1");
			});
		}
		if (popupAdventBtn) {
			popupAdventBtn.addEventListener("click", () => {
				ym(99092432, "reachGoal", "advent1");
			});
		};
    if (popupFlinstones) {
			popupFlinstones.addEventListener("click", () => {
				ym(99092432,'reachGoal','flin1')
			});
		};
    if (popupPrince) {
			popupPrince.addEventListener("click", () => {
				ym(99092432,'reachGoal','persia1')
			});
		};
    if (popupDuckTales) {
			popupDuckTales.addEventListener("click", () => {
				ym(99092432,'reachGoal','ducktales1')
			});
		};
    if (popupDonkeyKong) {
			popupDonkeyKong.addEventListener("click", () => {
				ym(99092432,'reachGoal','donky1')
			});
		};
    if (popupFlashback) {
			popupFlashback.addEventListener("click", () => {
				ym(99092432,'reachGoal','flash1')
			});
		};
    if (popupMegaman) {
			popupMegaman.addEventListener("click", () => {
				ym(99092432,'reachGoal','mega1')
			});
		};

		// 16bitPopup
		if (popupAladdinBtn) {
			popupAladdinBtn.addEventListener("click", () => {
				ym(99092432, "reachGoal", "aladdin1");
			});
		}
		if (popupComixzoneBtn) {
			popupComixzoneBtn.addEventListener("click", () => {
				ym(99092432, "reachGoal", "comixzone1");
			});
		}
		if (popupEarthwormBtn) {
			popupEarthwormBtn.addEventListener("click", () => {
				ym(99092432, "reachGoal", "earthworm1");
			});
		}
		if (popupHedgehogBtn) {
			popupHedgehogBtn.addEventListener("click", () => {
				ym(99092432, "reachGoal", "hedgehog1");
			});
		}
		if (popupMortalkombatBtn) {
			popupMortalkombatBtn.addEventListener("click", () => {
				ym(99092432, "reachGoal", "mortalkombat 1");
			});
		}
		if (popupLionKing) {
			popupLionKing.addEventListener("click", () => {
				ym(99092432, "reachGoal", "lion1");
			});
		}
		if (popupMK2) {
			popupMK2.addEventListener("click", () => {
				ym(99092432, "reachGoal", "mk2");
			});
		}
	  });

    // MS    
    const popupBtnRick1 = document.querySelector("#popupBtnRick1");
    const popupBtnRick2 = document.querySelector("#popupBtnRick2");
    const popupBtnRick3 = document.querySelector("#popupBtnRick3");
    const popupBtnFuturama = document.querySelector("#popupBtnFuturama");
    const popupBtnFuturama2 = document.querySelector("#popupBtnFuturama2");
    const popupBtnFuturama3 = document.querySelector("#popupBtnFuturama3");

    
    if (popupBtnRick1) {
			popupBtnRick1.addEventListener("click", () => {
				ym(99092432,'reachGoal','rick1')
			});
		};
    if (popupBtnRick2) {
			popupBtnRick2.addEventListener("click", () => {
				ym(99092432,'reachGoal','rick2')
			});
		};
    if (popupBtnRick3) {
			popupBtnRick3.addEventListener("click", () => {
				ym(99092432,'reachGoal','rick3')
			});
		};
    if (popupBtnFuturama) {
			popupBtnFuturama.addEventListener("click", () => {
				ym(99092432,'reachGoal','futur1')
			});
		};
    if (popupBtnFuturama2) {
			popupBtnFuturama2.addEventListener("click", () => {
				ym(99092432,'reachGoal','futur2')
			});
		};
    if (popupBtnFuturama3) {
			popupBtnFuturama3.addEventListener("click", () => {
				ym(99092432,'reachGoal','futur3')
			});
		};

</script>
<script type="text/javascript">
	document.addEventListener("DOMContentLoaded", function () {
		// 8bitPopupMobile
		const popupTankiBtnMobile = document.querySelector("#popupBtnTanki1Mobile");
		const popupDarkwingBtnMobile = document.querySelector(
			"#popupBtnDarkwing1Mobile"
		);
		const popupDuckhuntBtnMobile = document.querySelector(
			"#popupBtnDuckhunt1Mobile"
		);
		const popupSupermarioBtnMobile = document.querySelector(
			"#popupBtnSupermario1Mobile"
		);
		const popupTeenagemutantBtnMobile = document.querySelector(
			"#popupBtnTeenagemutant1Mobile"
		);
		const popupCNDBtnMobile = document.querySelector("#popupBtnChip1Mobile");
		const popupContraBtnMobile = document.querySelector(
			"#popupBtnContra1Mobile"
		);
		const popupBTDBtnMobile = document.querySelector("#popupBtnbattl1Mobile");
		const popupFelixBtnMobile = document.querySelector("#popupBtnFelix1Mobile");
		const popupLodeBtnMobile = document.querySelector(
			"#popupBtnLoderunner1Mobile"
		);
    const popupFlinstonesBtnMobile = document.querySelector(
			"#popupBtnFlinestonesMobile"
		);
    const popupPrinceMobile = document.querySelector(
			"#popupBtnPrinceMobile"
		);
    const popupDuckTalesMobile = document.querySelector(
			"#popupBtnDuckTalesMobile"
		);
    const popupDonkeyMobile = document.querySelector(
			"#popupBtnDonkeyMobile"
		);
    const popupFlashbackMobile = document.querySelector(
			"#popupFlashbackMobile"
		);
    const popupMegamanMobile = document.querySelector(
			"#popupMegamanMobile"
		);
		
    // 16bitPopupMobile
		const popupAladdinBtnMobile = document.querySelector(
			"#popupBtnAladdin1Mobile"
		);
		const popupComixzoneBtnMobile = document.querySelector(
			"#popupBtnComixzone1Mobile"
		);
		const popupEarthwormBtnMobile = document.querySelector(
			"#popupBtnEarthworm1Mobile"
		);
		const popupHedgehogBtnMobile = document.querySelector(
			"#popupBtnHedgehog1Mobile"
		);
		const popupMortalkombatBtnMobile = document.querySelector(
			"#popupBtnMortalkombat1Mobile"
		);
		const popupLionKingMobile = document.querySelector("#popupBtnLion1Mobile");
		const popupMK2Mobile = document.querySelector("#popupBtnMk2Mobile");
		const popupAdventBtnMobile = document.querySelector(
			"#popupBtnadvent1Mobile"
		);
    

		// 8bitPopup
		if (popupTankiBtnMobile) {
			popupTankiBtnMobile.addEventListener("click", () => {
				ym(99092432, "reachGoal", "tanki1");
			});
		}
		if (popupDarkwingBtnMobile) {
			popupDarkwingBtnMobile.addEventListener("click", () => {
				ym(99092432, "reachGoal", "darkwing1");
			});
		}
		if (popupDuckhuntBtnMobile) {
			popupDuckhuntBtnMobile.addEventListener("click", () => {
				ym(99092432, "reachGoal", "duckhunt1");
			});
		}
		if (popupSupermarioBtnMobile) {
			popupSupermarioBtnMobile.addEventListener("click", () => {
				ym(99092432, "reachGoal", "supermario1");
			});
		}
		if (popupTeenagemutantBtnMobile) {
			popupTeenagemutantBtnMobile.addEventListener("click", () => {
				ym(99092432, "reachGoal", "teenagemutant1");
			});
		}
		if (popupCNDBtnMobile) {
			popupCNDBtnMobile.addEventListener("click", () => {
				ym(99092432, "reachGoal", "chip1");
			});
		}
		if (popupContraBtnMobile) {
			popupContraBtnMobile.addEventListener("click", () => {
				ym(99092432, "reachGoal", "contra1");
			});
		}
		if (popupBTDBtnMobile) {
			popupBTDBtnMobile.addEventListener("click", () => {
				ym(99092432, "reachGoal", "battl1");
			});
		}
		if (popupFelixBtnMobile) {
			popupFelixBtnMobile.addEventListener("click", () => {
				ym(99092432, "reachGoal", "felix1");
			});
		}
		if (popupLodeBtnMobile) {
			popupLodeBtnMobile.addEventListener("click", () => {
				ym(99092432, "reachGoal", "loderunner1");
			});
		}
		if (popupAdventBtnMobile) {
			popupAdventBtnMobile.addEventListener("click", () => {
				ym(99092432, "reachGoal", "advent1");
			});
		}
    if (popupFlinstonesBtnMobile) {
			popupFlinstonesBtnMobile.addEventListener("click", () => {
				ym(99092432,'reachGoal','flin1')
			});
		}
    if (popupPrinceMobile) {
			popupPrinceMobile.addEventListener("click", () => {
				ym(99092432,'reachGoal','persia1')
			});
		};
    if (popupDuckTalesMobile) {
			popupDuckTalesMobile.addEventListener("click", () => {
				ym(99092432,'reachGoal','ducktales1')
			});
		};
    if (popupDonkeyMobile) {
			popupDonkeyMobile.addEventListener("click", () => {
				ym(99092432,'reachGoal','donky1')
			});
		};
    if (popupFlashbackMobile) {
			popupFlashbackMobile.addEventListener("click", () => {
				ym(99092432,'reachGoal','flash1')
			});
		};
     if (popupMegamanMobile) {
			popupMegamanMobile.addEventListener("click", () => {
				ym(99092432,'reachGoal','mega1')
			});
		};

		// 16bitPopup
		if (popupAladdinBtnMobile) {
			popupAladdinBtnMobile.addEventListener("click", () => {
				ym(99092432, "reachGoal", "aladdin1");
			});
		}
		if (popupComixzoneBtnMobile) {
			popupComixzoneBtnMobile.addEventListener("click", () => {
				ym(99092432, "reachGoal", "comixzone1");
			});
		}
		if (popupEarthwormBtnMobile) {
			popupEarthwormBtnMobile.addEventListener("click", () => {
				ym(99092432, "reachGoal", "earthworm1");
			});
		}
		if (popupHedgehogBtnMobile) {
			popupHedgehogBtnMobile.addEventListener("click", () => {
				ym(99092432, "reachGoal", "hedgehog1");
			});
		}
		if (popupMortalkombatBtnMobile) {
			popupMortalkombatBtnMobile.addEventListener("click", () => {
				ym(99092432, "reachGoal", "mortalkombat 1");
			});
		}
		if (popupLionKingMobile) {
			popupLionKingMobile.addEventListener("click", () => {
				ym(99092432, "reachGoal", "lion1");
			});
		}
		if (popupMK2Mobile) {
			popupMK2Mobile.addEventListener("click", () => {
				ym(99092432, "reachGoal", "mk2");
			});
		}

    // MS    
    const popupBtnRickt1Mobile = document.querySelector(
			"#popupBtnRickt1Mobile"
		);
    const popupBtnRickt2Mobile = document.querySelector(
			"#popupBtnRickt2Mobile"
		);
    const popupBtnRickt3Mobile = document.querySelector(
			"#popupBtnRickt3Mobile"
		);
    const popupBtnFuturamaMobile = document.querySelector(
			"#popupBtnFuturamaMobile"
		);
    const popupBtnFuturama2Mobile = document.querySelector(
			"#popupBtnFuturama2Mobile"
		);
    const popupBtnFuturama3Mobile = document.querySelector(
			"#popupBtnFuturama3Mobile"
		);

    
    if (popupBtnRickt1Mobile) {
			popupBtnRickt1Mobile.addEventListener("click", () => {
				ym(99092432,'reachGoal','rick1')
			});
		};
    if (popupBtnRickt2Mobile) {
			popupBtnRickt2Mobile.addEventListener("click", () => {
				ym(99092432,'reachGoal','rick2')
			});
		};
    if (popupBtnRickt3Mobile) {
			popupBtnRickt3Mobile.addEventListener("click", () => {
				ym(99092432,'reachGoal','rick3')
			});
		};
    if (popupBtnFuturamaMobile) {
			popupBtnFuturamaMobile.addEventListener("click", () => {
				ym(99092432,'reachGoal','futur1')
			});
		};
    if (popupBtnFuturama2Mobile) {
			popupBtnFuturama2Mobile.addEventListener("click", () => {
				ym(99092432,'reachGoal','futur2')
			});
		};
    if (popupBtnFuturama3Mobile) {
			popupBtnFuturama3Mobile.addEventListener("click", () => {
				ym(99092432,'reachGoal','futur3')
			});
		};
	});
</script>
