<script type="text/javascript">
	document.addEventListener("DOMContentLoaded", function () {
		// 8bitPopup
		const popupTankiBtn = document.querySelector("#popupBtnTanki1");
		const popupDarkwingBtn = document.querySelector("#popupBtnDarkwing1");
		const popupDuckhuntBtn = document.querySelector("#popupBtnDuckhunt1");
		const popupSupermarioBtn = document.querySelector("#popupBtnSupermario1");
		const popupTeenagemutantBtn = document.querySelector(
			"#popupBtnTeenagemutant1"
		);
		// 16bitPopup
		const popupAladdinBtn = document.querySelector("#popupBtnAladdin1");
		const popupComixzoneBtn = document.querySelector("#popupBtnComixzone1");
		const popupEarthwormBtn = document.querySelector("#popupBtnEarthworm1");
		const popupHedgehogBtn = document.querySelector("#popupBtnHedgehog1");
		const popupMortalkombatBtn = document.querySelector(
			"#popupBtnMortalkombat1"
		);

		// 8bitPopup
		if (popupTankiBtn) {
			popupTankiBtn.addEventListener("click", () => {
				ym(99092432, "reachGoal", "tanki1");
			});
		}
		if (popupDarkwingBtn) {
			popupDarkwingBtn.addEventListener("click", () => {
				ym(99092432, "reachGoal", "darkwing1");
			});
		}
		if (popupDuckhuntBtn) {
			popupDuckhuntBtn.addEventListener("click", () => {
				ym(99092432, "reachGoal", "duckhunt1");
			});
		}
		if (popupSupermarioBtn) {
			popupSupermarioBtn.addEventListener("click", () => {
				ym(99092432, "reachGoal", "supermario1");
			});
		}
		if (popupTeenagemutantBtn) {
			popupTeenagemutantBtn.addEventListener("click", () => {
				ym(99092432, "reachGoal", "teenagemutant1");
			});
		}
		// 16bitPopup
		if (popupAladdinBtn) {
			popupAladdinBtn.addEventListener("click", () => {
				ym(99092432, "reachGoal", "aladdin1");
			});
		}
		if (popupComixzoneBtn) {
			popupComixzoneBtn.addEventListener("click", () => {
				ym(99092432, "reachGoal", "comixzone1");
			});
		}
		if (popupEarthwormBtn) {
			popupEarthwormBtn.addEventListener("click", () => {
				ym(99092432, "reachGoal", "earthworm1");
			});
		}
		if (popupHedgehogBtn) {
			popupHedgehogBtn.addEventListener("click", () => {
				ym(99092432, "reachGoal", "hedgehog1");
			});
		}
		if (popupMortalkombatBtn) {
			popupMortalkombatBtn.addEventListener("click", () => {
				ym(99092432, "reachGoal", "mortalkombat 1");
			});
		}
	});
</script>
<script type="text/javascript">
	document.addEventListener("DOMContentLoaded", function () {
		// 8bitPopupMobile
		const popupTankiBtnMobile = document.querySelector("#popupBtnTanki1Mobile");
		const popupDarkwingBtnMobile = document.querySelector(
			"#popupBtnDarkwing1Mobile"
		);
		const popupDuckhuntBtnMobile = document.querySelector(
			"#popupBtnDuckhunt1Mobile"
		);
		const popupSupermarioBtnMobile = document.querySelector(
			"#popupBtnSupermario1Mobile"
		);
		const popupTeenagemutantBtnMobile = document.querySelector(
			"#popupBtnTeenagemutant1Mobile"
		);
		// 16bitPopupMobile
		const popupAladdinBtnMobile = document.querySelector(
			"#popupBtnAladdin1Mobile"
		);
		const popupComixzoneBtnMobile = document.querySelector(
			"#popupBtnComixzone1Mobile"
		);
		const popupEarthwormBtnMobile = document.querySelector(
			"#popupBtnEarthworm1Mobile"
		);
		const popupHedgehogBtnMobile = document.querySelector(
			"#popupBtnHedgehog1Mobile"
		);
		const popupMortalkombatBtnMobile = document.querySelector(
			"#popupBtnMortalkombat1Mobile"
		);

		// 8bitPopup
		if (popupTankiBtnMobile) {
			popupTankiBtnMobile.addEventListener("click", () => {
				ym(99092432, "reachGoal", "tanki1");
			});
		}
		if (popupDarkwingBtnMobile) {
			popupDarkwingBtnMobile.addEventListener("click", () => {
				ym(99092432, "reachGoal", "darkwing1");
			});
		}
		if (popupDuckhuntBtnMobile) {
			popupDuckhuntBtnMobile.addEventListener("click", () => {
				ym(99092432, "reachGoal", "duckhunt1");
			});
		}
		if (popupSupermarioBtnMobile) {
			popupSupermarioBtnMobile.addEventListener("click", () => {
				ym(99092432, "reachGoal", "supermario1");
			});
		}
		if (popupTeenagemutantBtnMobile) {
			popupTeenagemutantBtnMobile.addEventListener("click", () => {
				ym(99092432, "reachGoal", "teenagemutant1");
			});
		}
		// 16bitPopup
		if (popupAladdinBtnMobile) {
			popupAladdinBtnMobile.addEventListener("click", () => {
				ym(99092432, "reachGoal", "aladdin1");
			});
		}
		if (popupComixzoneBtnMobile) {
			popupComixzoneBtnMobile.addEventListener("click", () => {
				ym(99092432, "reachGoal", "comixzone1");
			});
		}
		if (popupEarthwormBtnMobile) {
			popupEarthwormBtnMobile.addEventListener("click", () => {
				ym(99092432, "reachGoal", "earthworm1");
			});
		}
		if (popupHedgehogBtnMobile) {
			popupHedgehogBtnMobile.addEventListener("click", () => {
				ym(99092432, "reachGoal", "hedgehog1");
			});
		}
		if (popupMortalkombatBtnMobile) {
			popupMortalkombatBtnMobile.addEventListener("click", () => {
				ym(99092432, "reachGoal", "mortalkombat 1");
			});
		}
	});
</script>
