@font-face {
	font-family: "firamono";
	font-display: swap;
	src: url("../fonts/firamono.woff2") format("woff2"), url("../fonts/firamono.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "firamonobold";
	font-display: swap;
	src: url("../fonts/firamonobold.woff2") format("woff2"), url("../fonts/firamonobold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: "PIXY";
	font-display: swap;
	src: url("../fonts/PIXY.woff2") format("woff2"), url("../fonts/PIXY.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
