<style>
	.mobile_wrapper {
		display: none;
	}
	.slider__wrapMobile {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin-top: -15px;
	}
	.swiper {
		width: 343px;
		height: 439px;
	}

	.mobileWrap .swiper-slide {
		text-align: center;
		font-size: 18px;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 10px;
	}

	.mobileWrap .swiper-slide img {
		display: block;
		width: 343px;
		height: 439px;
		object-fit: contain;
		border-radius: 10px;
	}

	.mySwiper8bit,
	.mySwiper16bit,  
	.mySwiperMS  {
		margin: 0px 12px;
	}
	.swiper-pagination8bit,
	.swiper-pagination16bit {
		transform: translate3d(-55px, 38px, 0);
		z-index: 2;
	}
	.swiper-pagination-bullet {
		background: #2e2f38;
		width: 14px;
		height: 14px;
	}
	.slider__controls {
		display: flex;
		flex-direction: row;
	}
	@media (max-width: 1280px) {
		.slider__wrapMobile {
			height: 650px;
		}
		.slider__controls__mobile {
			display: flex;
			flex-direction: row;
			justify-content: flex-end;
			width: 100%;
			gap: 10px;
			margin-right: 50px;
		}
		.mobileWrap .swiper-slide img {
			width: 247px;
			height: 256px;
		}

		.mobileWrap .swiper {
			width: 343px;
			height: 520px;
		}
		.swiper_column {
			flex-direction: column;
		}

		.mobile_wrapper {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
		.mobile_cardItem div.item {
			margin: 30px 0;
		}

		.mobile_cardItem img.item__imgWrap__image {
			width: 247px;
			height: 256px;
		}
		.hidden8,
    .hiddenMS,
    .hiddenAnime,
    .hiddenGames {
			max-height: 0;
			opacity: 0;
			overflow: hidden;
			pointer-events: none;
			transition: all 0.3s ease;
		}
		.visible8,
    .visibleMS,
    .visibleAnime,
    .visibleGames {
			max-height: 100%;
			opacity: 1;
			pointer-events: auto;
		}
		.hidden16 {
			max-height: 0;
			opacity: 0;
			overflow: hidden;
			pointer-events: none;
			transition: all 0.3s ease;
		}
		.visible16 {
			max-height: 100%;
			opacity: 1;
			pointer-events: auto;
		}

		.mobileBtnGallery {
			width: 194px;
			height: 40px;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
			-webkit-box-pack: center;
			-ms-flex-pack: center;
			justify-content: center;
			background-color: transparent;
			border: transparent;
			color: #cc5e45;
			text-transform: uppercase;
			font-family: "PIXY";
			font-size: 22px;
			-webkit-transition: opacity 0.5s ease;
			transition: opacity 0.5s ease;
			-webkit-transition: -webkit-transform 0.3s ease;
			transition: -webkit-transform 0.3s ease;
			transition: transform 0.3s ease;
			transition: transform 0.3s ease, -webkit-transform 0.3s ease;
			position: relative;
			z-index: 1;
			cursor: pointer;
			margin-bottom: 20px;
		}
		.mobileBtnGallery::after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-image: url("./images/listitemBtnActive.svg");
			background-size: cover;
			background-position: center;
			-webkit-transition: opacity 0.5s ease;
			transition: opacity 0.5s ease;
		}
		.slider__wrapMobile {
			display: none;
		}
	}
</style>
<!-- <div class="slider__wrapMobile @@nameWrap">
	<div class="swiper @@mySwiper">
		<div class="swiper-wrapper">
			@@loop("../../elements/listItemSlider.html", "@@data")
		</div>
	</div>

	<div class="slider__controls__mobile">
		<div class="@@swiper-button-sliderPrev">
			<img src="../images/sliderMobilePrevBtn.png" alt="sliderPrev" />
		</div>
		<div class="@@swiper-button-sliderNext">
			<img src="../images/sliderMobileNextBtn.png" alt="sliderNext" />
		</div>
	</div>
</div> -->
<style>
	@media (max-width: 1280px) {
	}
</style>
<script>
	document.addEventListener("DOMContentLoaded", () => {
		const toggleButton = document.getElementById("@@idMobileBtn");
		const hiddenBlocks = document.querySelectorAll(".block.@@addClass");
		let isExpanded = false;

		toggleButton.addEventListener("click", () => {
			if (isExpanded) {
				// Свернуть блоки
				hiddenBlocks.forEach((block) =>
					block.classList.remove("@@removeClass")
				);
				toggleButton.textContent = "Показать все";
			} else {
				// Показать блоки
				hiddenBlocks.forEach((block) => block.classList.add("@@removeClass"));
				toggleButton.textContent = "Свернуть";
			}
			isExpanded = !isExpanded;
		});
	});
</script>
<div class="mobile_wrapper">
	<div class="">
		<div class="mobile_cardItem">
			@@loop("../../elements/listItemSlider.html", "@@data")
		</div>
	</div>
	<div class="btn__item__content">
		<button id="@@idMobileBtn" class="mobileBtnGallery">Показать все</button>
	</div>
</div>
