<style>
	.slider__wrap {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		margin-top: -15px;
	}
	.swiper {
		width: 343px;
		height: 439px;
	}

	.swiper-slide {
		text-align: center;
		font-size: 18px;
		/* background: #fff; */
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 10px;
	}

	.swiper-slide img {
		display: block;
		width: 343px;
		height: 439px;
		object-fit: contain;
		border-radius: 10px;
	}
	/* @media (max-width: 1280px) {
		.swiper-slide img {
			width: 247px;
			height: 256px;
		}
		.swiper {
			width: 343px;
			height: 520px;
		}
	} */
	.mySwiper {
		margin: 0 12px;
	}
	.mySwiper-pagination {
		transform: translate3d(-55px, 38px, 0);
		z-index: 2;
	}
	.swiper-pagination-bullet {
		background: #2e2f38;
		width: 14px;
		height: 14px;
	}
</style>
<div class="slider__wrap @@nameWrap">
	<div class="swiper-button-sliderPrev">
		<img src="../images/sliderPrev.png" alt="sliderPrev" />
	</div>
	<div class="swiper mySwiper">
		<div class="swiper-wrapper">
			<div class="swiper-slide">
				<img src="./images/mario1.webp" alt="Mario" />
			</div>
			<div class="swiper-slide">
				<img src="../images/tnmt1.webp" alt="TNMT" />
			</div>
			<div class="swiper-slide">
				<img src="../images/sonic1.webp" alt="Sonic" />
			</div>
			<div class="swiper-slide">
				<img src="../images/darkwing1.webp" alt="Darkwing" />
			</div>
		</div>
	</div>
	<div class="swiper-button-sliderNext">
		<img src="../images/sliderNext.png" alt="sliderNext" />
	</div>
	<div class="swiper-pagination mySwiper-pagination"></div>
</div>
